
.component-2 {
  min-width: 1920px;
  height: 95px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  
}
a {
  text-decoration: none;
  color: #ffffff;
}
.component-2 a:first-child {
  font-size: 40px;
  line-height: 55px;
  font-weight: bolder;
  font-family: "Poppins";
  
  margin-right: 265px;
  
}
.component-2 a:first-child::after {
  content: ".";
  width: 10px;
  color: #ee3364;
}
.component-2 a:nth-of-type(2) {
  margin-right:120px;
}
.component-2 a:not(:first-child) {
  font-family: Muli-Bold;
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 8px;
  margin-right: 41px;
}

.component-2 a:last-of-type {
  padding-left: 1px;
  
}
.component-2 a:not(:first-child):hover {
  color: #ee3364;
}

.icons {
  width: 60px;
  margin-left: 94px;
  position: relative;
}
.icons span {
  font-family: "Cambay";
  display: inline-block;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #ee3364;
  color: #ffffff;
  position: absolute;
  left: 11px;
  top: 5px;
}
.icons > img:last-of-type {
  padding-left: 16px;
}
