.component-13 {
  min-width: 1920px;
  height: 792px;
  justify-content: center;
}
.comp13container {
  width: 1000px;
  align-items: center;
  padding-left: 130px;
  margin-top: 140px;
}
.images {
  width: 500px;
  height: 106px;
  align-items: center;
  gap: 65px;
  margin-bottom: 18px;
}
.images > img {
  width: 85px;
  height: 60px;
}
.profile-img {
  width: 106px;
  height: 106px;
  background-color: #000000;
  border-radius: 50%;
}
.comp13text {
  text-align: center;

}
.comp13text > span:first-of-type {
  color: #303030;
  font-family: GlacialIndifference-Bold;
  font-size: 26px;
  padding-right: 96px;
  margin-bottom: 4px;
  
}
.comp13text > span:last-of-type {
  color: #c4c4c4;
  font-family: Muli regular;
  padding-right: 94px;
  letter-spacing: -1px;
}
.comp13text > p:last-of-type {
  width: 800px;
  font-family: Muli-Bold-Italic;
  color: #8d8d8d;
  font-size: 17px;
  line-height: 27px;
  margin-top: 22px;
  letter-spacing: -0.1px;
  padding-right: 88px;
  margin-bottom: 24px;
}
.dot-container{
    padding-right: 84px;
    margin-bottom: 132px;
}
.dot {
  width: 8.5px;
  height: 9px;
  background-color: black;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}
.dot:hover{
    background-color: #E3E3E3;
}
.image-container{
    padding-right: 100px;
}
.image-container > img:nth-of-type(1){
    margin-right: 140px;
}
.image-container > img:nth-of-type(2){
    width: 110px;
    height: 67px;
    margin-right: 130px;
    padding-top: 10px;
}
.image-container > img:nth-of-type(3){
    width: 131px;
    height: 75px;
    margin-right: 112px;
    padding-top: 12px;
}
.image-container > img:nth-of-type(4){
    width: 144px;
    height: 82px;
    margin-right: 110px;
    padding-top: 6px;
}
.image-container > img:nth-of-type(5){
    width: 146px;
    height: 73px;
    padding-top: 8px;
}

